:root {
  --rc-layout-aside: 200px;
}


.main {
  width: 100%;
  height: 100svh;
  display: flex;
  overflow: hidden;
  flex-direction: row;

  * {
    box-sizing: border-box;
  }
}

.aside_container {
  display: flex;
  height: 100svh;
  width: var(--rc-layout-aside);
}

.aside_content {
  left: 0;
  height: 100%;
  display: flex;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  width: var(--rc-layout-aside);
  background-color: var(--mantine-color-primary-9);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #324148;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #5dbcbe;
    border-radius: 3px;
  }
}

.content {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: calc(100svh - var(--rc-layout-aside));
}
